@charset "utf-8";

* {
  padding: 0;
  margin: 0;
}


.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
	font-size: 30px;
	color: #2A8AA1;
	font-family: 'Merriweather', serif;
}

.nav-link {
    font-family: 'Merriweather', serif;
}

.nav-link.nav-link2 {
	font-family: 'Merriweather', serif;
}

.btn.btn-primary {
	background-color: #dc3545
}


.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
	font-size: 30px;
	color: #FB9CD9;
}

.nav-link {
    font-size: 20px;
    color: #8C8C8C;
}
.dates   {
	color: #FB9CD9
}
.display-4 {
    font-size: 35px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    font-family: 'Merriweather', serif;

}
.rowcolor {
    background-color: #E6E6E6;
}
.navbar-nav .nav-item.active .nav-link.nav-link2 {
	color: #7A7A7A
}

.footer  {
    text-align: center;
    background-color: #041119;
    height: 169px;
    color: #FFFFFF;

}